
    h1{
      color: red;
      font-size: 30px;
    }
    table{
      color: purple;
    }
  ul{
    color: red;
  }
  #p1{
    color: blue;
    font-size: 30px;
  }
  #p3{ 
    color: red;
    font-size: 20px;
  }